<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Recipes</h1>
    <nav>
      <button onclick="window.location.href='/sign_in'">Sign In</button>
      <button onclick="window.location.href='/sign_up'">Sign Up</button>
    </nav>
  </header>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Instructions</th>
        <th>Created By</th>
      </tr>
    </thead>
    <tbody>
      <% recipes.forEach(recipe => { %>
        <tr>
          <td><%= recipe.title %></td>
          <td><%= recipe.ingredients %></td>
          <td><%= recipe.instructions %></td>
          <td><%= recipe.user_id %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  
<footer>
  <% if (user) { %> <!-- Check if the user is logged in -->
    <div style="text-align: center; margin-top: 20px;">
      <button onclick="window.location.href='/recipe_submission'" class="btn">Create New Recipe</button>
    </div>
  <% } else { %>
    <div style="text-align: center; margin-top: 20px;">
      <p>You must <a href="/sign_in">sign in</a> to create a new recipe.</p>
    </div>
  <% } %>
</footer>


</body>
</html>
